<%- include("partials/header") -%>
    <section>
      <div class="title-body-container">
        <h1>Home</h1>
        <p><%= homeContent %></p>
      </div>
      <div>
        <% inputLists.forEach(inputList => { %>
          <div>
            <div>
              <h2><%= inputList.title %></h2>
            </div>
            <div>
              <% if (inputList.post.length > 100) { %>
                <p class="input-post"><%= inputList.post.slice(0, 101) + "... "%><a class="truncate-post" href=/post/<%= ${inputList.title} %>></a></p>
              <% } else { %>
                <p class="input-post"><%= inputList.post %></p>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
      <!-- <form action="/post" method="POST"><input class="hidden" type="text" name="inputTitle" value=<#%= encodeURIComponent(inputList.title) %>><button name="inputPost" value=<%#= encodeURIComponent(inputList.post) %>>Read More</button></form></p> -->
    </section>
<%- include("partials/footer") -%>