<%- include("partials/header") -%>
    <section>
      <div class="title-body-container">
        <h1>Home</h1>
        <p><%= homeContent %></p>
      </div>
      <div>
        <% inputLists.forEach(inputList => { %>
        <%# console.log(inputList.title) %> 
          <div>
            <div>
              <h2><%= inputList.title %></h2>
            </div>
            <div>
              <% if (inputList.post.length > 100) { %>
                <!--! Kapag -i-sesent back mo ang data BACK to the server, then you can use encodeURICompenent to get the complete message without the converted data -->
                <p class="input-post"><%= inputList.post.slice(0, 100) + " ... " %><a class="read-more-link" href="/post/<%= inputList.title %>">Read More</a></p>
              <% } else { %>
                <p class="input-post"><%= inputList.post %></p>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
    </section>
<%- include("partials/footer") -%>